.column-post_status_custom {
    width: 10%;
}

.sults-status-badge {
    display: inline-block;
    padding: 0px 8px;
    border-radius: 99px;
    font-size: 11px;
    font-weight: 600;
    color: #50575e;
    background: #e2e4e7;
}

.wp-list-table .column-title {
    width: 45%; 
}

.wp-list-table .column-author {
    width: 10%;
}

.wp-list-table .column-categories {
    width: 10%;
}

.wp-list-table .column-date {
    width: 10%;
}

.column-cb_comments_status {
    width: 5%;
}

.column-post_status_custom {
    width: 10%;
}

.column-aioseo-details {
    width: 10%;
}

@media screen and (max-width: 1100px) {
    .wp-list-table .column-author,
    .wp-list-table .column-categories, .column-aioseo-details{
        display: none; 
    }
    
    .wp-list-table .column-title {
        width: auto;
    }
}