.column-post_status_custom {
    width: 10%;
}

.sults-status-badge {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 99px;
    font-size: 11px;
    font-weight: 600;
    color: #50575e;
    background: #e2e4e7;
}

.sults-status-publish {
    background: var(--color-verdigris-500);
    color: var(--color-verdigris-100);
}

.sults-status-revisao_em_andamento {
    background: var(--color-blue-300);
    color: var(--color-blue-700);
}

.sults-status-pending {
    background: var(--color-yellow-300);
    color: var(--color-yellow-700);
}

.sults-status-draft {
    background: var(--color-neutral-300);
    color: var(--color-neutral-700);
}

.sults-status-suspended {
    background: var(--color-red-300);
    color: var(--color-red-700);
}

.sults-status-requires_adjustment{
    background: var(--color-orange-300);
    color: var(--color-orange-700);
}

.sults-status-finished {
    background: var(--color-green-300);
    color: var(--color-green-700);
}
