.column-post_status_custom {
    width: 10%;
}

.sults-status-badge {
    display: inline-block;
    padding: 0px 8px;
    border-radius: 99px;
    font-size: 11px;
    font-weight: 600;
    color: #50575e;
    background: #e2e4e7;
}